.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

.left,
.right {
    display: flex;
    background: rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    z-index: 101;
    max-height: 100vh;
    position: sticky;
    top: 0;
}

.left {
    width: 20%;
}

.right {
    width: 30%;
}

.middle {
    display: flex;
    flex-grow: 2;
    padding: 0 2rem;
    background: #FAF5EA;
    transform: translateZ(0);
    /* makes the child (editor menu being relative positioned when using position: fixed */
}

.toggleShow {
    position: absolute;
    top: 0;
    cursor: pointer;
}

.left .toggleShow {
    right: 0;
    transform: translateX(100%);
}

.right .toggleShow {
    left: 0;
    transform: translateX(-100%);
}

.arrowBtn {
    font-size: 2rem;
}

.content {
    overflow: hidden;
    display: flex;
    width: 100%;
}


/* SEARCH */
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
    animation: ease-in-out 0.3s showSearch;
}

.searchModal {
    display: flex;
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    flex-direction: column;
}

.closeSearch {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    cursor: pointer;
}

.searchInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1rem 0.5rem;
}

.searchInputContainer svg {
    font-size: 1rem;
}

.searchInputContainer input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 1rem;
}

.searchResults {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.0rem 0.5rem 0.5rem 0.5rem;
    overflow-y: auto;
    max-height: 300px;
}

.searchResult {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0 0.5rem 1.5rem;
    cursor: pointer;
}

.searchResult:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
}

.searchResult__name {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 0.5rem;
}

.searchResult__type {
    font-size: 0.8rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
    padding-left: 0.5rem;
}




/* MODAL */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    animation: ease-in-out 0.3s showSearch;
}

.modalContent {
    display: flex;
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.closeModal {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    cursor: pointer;
}

/* MOBILE MENU */
.mobileMenu {
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background: white;
    padding: 0.1rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.MobileBottomNavbar__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.5rem 0rem;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.MobileBottomNavbar__item__icon {
    font-size: 1.5rem;
    margin-bottom: 0.0rem;
    height: 1.75rem;
}

.mobileChat {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    height: 100%;
    background: white;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 5rem;
    animation: ease-in-out 0.3s showSearch;
}


/* ANIMATIONS */
@keyframes showSearch {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* MOBILE DESIGN */
@media (max-width: 768px) {
    .middle {
        padding: 0 0rem;
    }

    .left,
    .right {
        display: none;
    }

    .search {
        padding: 0;
    }

    .searchModal {
        height: 100%;
        border-radius: 0;
    }
}