.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 20vw;
    background: rgb(245, 240, 229);
}

.header {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.chat a {
    text-decoration: underline;
    color: inherit;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-align: center;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    margin: 1rem;
}

.messagesInner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    padding: 0 1.5rem;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
}

.bottom {
    display: flex;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 1000px;
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
}

.clearButton {
    display: inline-block;
    margin: 0.25rem;
    box-shadow: none;
    background: transparent;
    color: #000000;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
}

.inputContainer {
    display: flex;
    flex-grow: 1;
    background: #f4f4f4;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
}

.newMessageInput {
    display: flex;
    flex-grow: 1;
    outline: none;
    padding: 1rem;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    border-radius: 10px;
    background: #f4f4f4;
    border: 1px solid #e7e7e7;
    border-right: none;
    resize: none;
}

.newMessageButton {
    display: inline-block;
    margin: 1rem;
    box-shadow: none;
    opacity: 0.8;
    background: #43a047;
    color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
}

.newMessageButton:hover {
    opacity: 1;
}

.bottom button:hover {
    transform: none;
    box-shadow: none;
}

/* MESSAGES */
.message {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    max-width: 60%;
    white-space: pre-wrap;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

/* ALign messages to the right */
.message[data-sender="user"] {
    align-self: flex-end;
    background: #ffffff;
}

.message[data-sender="assistant"] {
    align-self: flex-start;
    background: #F4F8F7;
    max-width: 80%;
    color: #438C71;
}

.message[data-sender="system"] {
    display: none;
}

.message[data-sender="loading"] {
    align-self: flex-start;
    background: transparent;
    color: #000000;
    max-width: 100%;
    /* Set animation but with a delay */
    animation-delay: 0.5s;
}

.errorMessage {
    color: #ff0000;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
}

.sendAgain {
    color: #000000;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;
}

.hamburger {
    display: none;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.answerFromText {
    width: 100%;
    text-align: center;
    color: #575757;
}

.contextBox {
    border: 1px solid #DDDDDD;
    width: 30%;
    aspect-ratio: 1/1;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.contextBox svg {
    font-size: 2rem;
    color: #515151;
}

.contextBox span {
    font-size: 0.75rem;
    color: #515151;
    margin-top: 1rem;
    text-align: center;
}

.contextBox.active {
    border: 1px solid #438C71;
}

.contextBox.active svg {
    color: #438C71;
}

.contextBox.active span {
    color: #438C71;
}

.currentContext {
    width: 100%;
    padding: 0rem 1rem;
    color: #438C71;
    text-align: center;
}


/* ANIMATIONS */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(1rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0rem)
    }
}



/* MOBILE */
@media (max-width: 768px) {
    .header {
        font-size: 2rem !important;
        padding: 1rem 0rem 0rem !important;
    }

    .chat {
        z-index: 5;
        position: relative;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem;
        z-index: 99;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .messages {
        min-height: 30vh;
        padding: 0;
    }

    .bottom {}

    .messagesInner {
        padding: 0;
    }

    .bottom * {
        width: 100%;
        margin: 0;
    }

    .inputContainer {
        flex-wrap: wrap;
    }

    .message {
        max-width: 85%;
    }

    .chat,
    .top {
        background: var(--appMainBg);
    }

    .newMessageInput {
        margin-bottom: 1rem;
    }

    .inputContainer {
        background: transparent;
    }

    .header {
        margin: 0;
        padding: 0 2rem;
        font-size: 1.25rem;
        white-space: nowrap;
        overflow: hidden;
        min-height: 2rem;
    }
}